# macOS
.DS_Store

# JetBrains 
.idea/
*.iml

# VS Code
.vscode/

# Кэш Python
/__pycache__/
*/__pycache__/
*/*/__pycache__/

**/*.py[cod]

# Виртуалки
.venv/
*/.venv/
*/*/.venv/

# Упакованные дистрибутивы
*.egg-info/

# --- Java / JVM / Build outputs ---
# Кэш компиляции Java
*.class
*/*.class
*/*/*.class


Informatics/The Cistercian/test*
Informatics/The Cistercian/dump*

# --- Файлы отдельных проектов ---
# Лабы по информатике
Informatics/lab3/for_test.py
Informatics/lab3/test_tasks.py
Informatics/lab4/*.{bin,json,txt}
# Ignore common image outputs from lab4
Informatics/*.{png,jpg,jpeg,gif}

# Лабы по программированию
Programming/lab2/out/
Programming/lab2/lab2.iml
Programming/**/*.iml
Programming/lab3/src/*.class

# ОПД
OPD(FoPA)/lab2/bcomp-ng.jar

# --- Разное / личные скрипты ---
tree*.*

Informatics/tester/test1.py
