# --- Паттерны для macOS / Linux / Unix ---
# Системные файлы macOS
.DS_Store

# Просто мои скрипты
tree*.*

# Проектные кеши питона
Informatics/*/__pycache__/*

# Папки сборки / вывода
Programming/lab*/out/

# Конфигурации IDE/редакторов (игнорировать папки целиком)
.idea/
.vscode/
.venv/
# Файлы модулей IntelliJ/IDEA
*.iml
Programming/*/*.iml


# --- Паттерны для Windows ---
tree*.*
Informatics\lab1\__pycache__\
Informatics\lab3\__pycache__\
Informatics\lab4\__pycache__\
Informatics\lab3\__pycache__\Informatics_Lab3_Task3.cpython-313.pyc
Programming\lab2\out\
Programming\lab2\lab2.iml
*.iml
\.idea\
\.vscode\
OPD(FoPA)/lab2/bcomp-ng.jar
Programming/lab3/src/*.class
Informatics/lab3/for_test.py
Informatics/lab3/test_tasks.py

Informatics/lab4/sources/*.json
Informatics/lab4/sources/*.csv
Informatics/lab4/sources/*.bin
Informatics/lab4/sources/*.xml
